head
    title= "Alex Shteinikov's website"

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
    link(rel='stylesheet', href='/static/vendor/lightbox/lightbox.css')
    link(rel='stylesheet', href='/static/css/style.css')

    script(type='text/javascript', src='/static/vendor/jquery-1.8.js')
    script(type='text/javascript', src='/static/vendor/lightbox/lightbox.js')

    link(rel='shortcut icon', href='/static/favicon.ico')
    link(rel='icon', type='image/png', href='/static/favicon.png')
