extends ../project

block project_description

    div.header
        | I worked on making one of city portals more efficient and user-friendly.<br>
        | I’ve done lots of work to redesign existing structure and user interface.

    div.side_info.mt5
        | — UI/UX design
        br
        | — Part of front-end programming
        br

    div.image_std.first_image
        img(src="/static/images/3_megatyumen/1_main.jpg")
        span
            | Redesigned main page with new page structure

    p.text
        | There are a lot of types of content on the main page:
        | latest news, announcements, interviews, articles, comments and others.
        | It was an exciting and hard task to make main layout more usable, responsive and easy-to-change.

    p.text
        | Also there are a few subportals; they must have exactly the same page structure with just another set of blocks.
        | It was a big deal to create dynamic layouts which can be changed so easy.

    div.image_std.big_center
        img(src="/static/images/3_megatyumen/2_ipads.jpg")

    p.text
        | Layouts were designed to be responsive and automatically adjusting to the
        | resolution of user's device. It is very convenient to view portal's weather
        | reports, read news or comment something using popular mobile devices (not only Apple)

    div.image_std
        img(src="/static/images/3_megatyumen/4_news1.jpg")
        span
            | News page on the portal

    p.text
        | News is one of the most important parts of the portal. I redesigned current news structure
        | to make representation of stories more bright and powerful.

    div.image_std
        img(src="/static/images/3_megatyumen/3_news.jpg")
        span
            | News page on the portal

    p.text
        | Portal's team are working now to apply front- and back-end changes
        | and will release this new redesigned version soon.
