extends ../project

block project_description

    div.header
        | Tweeria is a game with minimal user's involvement.
        br
        | Everytime you tweet, your alter ego finds adventures, kills monsters or gets items.

    div.side_info
        | Management<br>
        | UI/UX design<br>
        | Back-end programming<br>
        | Part of front-end programming

    div.image_std.first_image
        img(src="/static/images/1_tweeria/1_main.jpg")
        span
            | Main page with last items, news and ratings

    p.text
        | Your character will do different actions depending on your Twitter activity.
        | For example, when you mention other player in your tweet your character may help other player’s hero or receive help.

    div.image_std
        img(src="/static/images/1_tweeria/2_profile.jpg")
        span
            | Hero with events timeline and equipped items

    p.text
        | Every character has his own personal artwork, inventory, spells, equipped items and last events
        | timeline (as in every classic RPG).
        | Player can drag'n'drop items to equip, cast spells in tweets and do a lot of other heroic things.

    div.image_std.image_map
        img(src="/static/images/1_tweeria/map.jpg")

    div.empty_container
    p.text
        | I drew a big map of Tweeria (2172 × 2020) for journeys of our heroes.
        | It is based on the Hexographer-generated map with my graphical improvements.

    p.text
        | Content creation is one of the crucial parts of the game.
        | Users can create their own items with unique artworks and characteristics,
        | fantastic spells with different sets of effects and new looks for their heroes.

    div.image_std
        img(src="/static/images/1_tweeria/3_shop_new.jpg")
        span
            | "Pinterest-like" market view for new items and artworks

    p.text
        | Players can sell created things in the in-game marketplace.
        | It has a lot of filters to find interesting items, spells or artworks easy.

    div.image_std
        img(src="/static/images/1_tweeria/4_shop.jpg")
        span
            | Marketplace with filters
