extends ../project

block project_description

    div.header
        | Tweeria is a game with minimal user's involvement.
        br
        | Everytime you tweet, your alter ego finds adventures, kills monsters or gets items.

