extends ../project

block project_description

    div.header
        | I worked in different web-studios during 2007-2010 and created
        br
        | a lot of designs for websites. Here are some of them:

    div.work_info
        | Website for hospital
        br
        a(href="http://clinica72.ru") http://clinica72.ru

    p.text
        | On this website users can read about hospital services and doctors,
        | make an appointment and get a free online consultation. All information is
        | structured pretty well, and it is easy for a user to find everything he needs.

    div.image_std
        img(src="/static/images/4_works/1_neftyanik.jpg")
        span
            | Main page with illustration of main building

    div.work_info
        | Website for taxi company
        br
        a(href="http://vezitaxi.com") http://vezitaxi.com

    p.text
        | Taxi website with tons of useful information about fares, services, news,
        | promotions and online order.

    div.image_std
        img(src="/static/images/4_works/2_taxi.jpg")
        span
            | Main page with fares and promotions

    div.work_info
        | Website for insurance company
        br
        a(href="http://osago72.ru") http://osago72.ru

    p.text
        | It is a small website with car insurance fare calculator and online
        | consultation with company's agents about process of car insurance.

    div.image_std
        img(src="/static/images/4_works/3_osago.jpg")
        span
            | Main page with cars

    div.work_info
        | Food portal
        br
        a(href="http://poesh.com") http://poesh.com

    p.text
        | First startup in my life was built in 2008. Website about food in my own city:
        | full list of restaurants, cafes and pubs with complete menus, photos and additional
        | info for each. Users can comment existing content, add new (there is user recipes section)
        | and vote for their favorite places.

    div.image_std
        img(src="/static/images/4_works/4_poesh.jpg")
        span
            | "Poesh" translate from russian like "eat this"

    p.text
        | We worked hard to develop this portal but it was hardly possible to actualize
        | all this information for every cafe by a small team of students. So we stopped updating it.

    div.image_std.image_map
        img(src="/static/images/4_works/cars.png")

    div.empty_container.cars

    p.text
        | I also have more than 30 other works in my portfolio.
        | Among them there are websites for construction and furniture companies,
        | online shops, pawnshops, car sales and transport companies, music festivals, factories
        | and electricity holdings.
